<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AbitExportProject.Properties.Settings.UGTUConnectionString"
            connectionString="Data Source=172.16.16.22;Initial Catalog=UGTU;Persist Security Info=True;User ID=exportfis;Password=NjkmrjNs23"
            providerName="System.Data.SqlClient" />
        <add name="AbitExportProject.Properties.Settings.UGTUConnectionStringTEST"
            connectionString="Data Source=172.16.16.22;Initial Catalog=UGTU_ACTTEST;Integrated Security=True;User ID=exportfis;Password=NjkmrjNs23"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>
<!--;User ID=exportfis;Password=Zujlrf55-->