<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <defaultProxy>
      <proxy  proxyaddress="http://195.22.104.27:3128" />
    </defaultProxy>
  </system.net>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSChecksSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WSChecksSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.0.3.1/wschecks.asmx" binding="basicHttpBinding"
        bindingConfiguration="WSChecksSoap" contract="FCTServiceReference.WSChecksSoap"
        name="WSChecksSoap" />
      <!--<endpoint address="http://10.0.3.1/wschecks.asmx" binding="customBinding"
        bindingConfiguration="WSChecksSoap12" contract="FCTServiceReference.WSChecksSoap"
        name="WSChecksSoap12" />-->
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--Чтобы избежать раскрытия метаданных, до развертывания задайте следующим параметрам значение "false". -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Чтобы при сбое получать подробные сведения об исключении для целей отладки, установите для нижеприведенного параметра значение true.  Перед развертыванием установите значение false, чтобы избежать раскрытия информации об исключении -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
      <system.web>
        <customErrors mode="Off"/>
    </system.web>

  <!--<system.net>
    <defaultProxy>
      <proxy proxyaddress="http://195.22.104.27:3128/" bypassonlocal="false"/>
    </defaultProxy>
  </system.net>-->

</configuration>
